html {
    font-size: calc(0.4em + 0.5vw);
}

label.btn.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}

label.btn.btn-outline-secondary.active {
    color: #fff;
    background-color: #6c757d;
}
